#body{
  background-color: Navy;
}
#page{
  width: 100vw;
  height: 30vw;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: 1;
}
#wrapper {
  border-radius: 5%;
  grid-column: 2/12;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(45, 1fr);
  grid-template-rows: repeat(20, 1fr);
  border: 20px solid black;

}
#colors {
  border-radius: 7%;
  height: 30vw;
  grid-column: 13/18;
  grid-row: 1;
  border: 20px solid black;
}
#current {
  height: 15px;
  background: curColor;
  border: 3px solid black;
}
#pixel {
  height: 100%;
  width: 100%;
}
#drkPaint {
  text-align: center;
  border: 2px solid white;
  color: white;
}

.paint {
  text-align: center;
  border: 2px solid black;
}

#clearButton {
  grid-column: 1;
  grid-row: 1/2;
  background-color: white;
  border: black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#blackButton {
  grid-column: 1;
  grid-row: 2/3;
  background-color: #000;
  border: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

h1 {
  color: white;
  -webkit-text-stroke: 1px black;
}
section {
  background: white;
}
